<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel">
          <span class="help-block error" *ngIf="name.invalid && name.touched">name is required.</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" ngModel name="amount" #amount="ngModel" required pattern="^[1-9]+[0-9]*$">
          <span class="help-block error" *ngIf="amount.invalid && amount.touched">amount is required.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- Using html element reference -->
          <!-- <button class="btn btn-success" type="submit" (click)="onAdd(nameInput, amountInput)">Add</button>  -->
          <!-- Using ViewChild() decorator  -->
          <!-- <button class="btn btn-success" type="submit" (click)="onAddition()">Add</button> -->
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>